/*
--- COLORS

Dourado Default: #dd8c11
Azul Default: #172043
Cinza: #676767

*/

.container{
    margin-top: 80px;
}

h2{
    color: #172043;
}

.btn-dark, a{
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
}

.btn-dark, a:hover{
    text-transform: uppercase;
    text-decoration: none;
    color: #dd8c11;
}


textarea:focus, input:focus{
    border-color: #172043 solid;
    box-shadow: 1px;
    outline: 0;
}